<div class="container">
    <div class="form-group">
        <label for="title">Título</label>
        <input id="title" class="form-control" type="text" formControlName="title">
    </div>

    <div class="form-group">
        <label for="body">Cuerpo</label>
        <input id="body" class="form-control" type="text" formControlName="body">
    </div>

    <div class="form-group">
        <label for="userId">Autor</label>
        <input id="userId" class="form-control" type="text" formControlName="body">
        <select name="" formControlName="userId"></select>
            <option value="1" >Julián</option>
    </div>
</div>
