<div class="container">
    <div class="form-group">
        <label for="title">Título</label>
        <input id="title" class="form-control" type="text" formControlName="title">
    </div>

    <div class="form-group">
        <label for="body">Cuerpo</label>
        <input id="body" class="form-control" type="text" formControlName="body">
    </div>

    <div class="form-group">
        <label for="">Seleccione un Autor</label>        
        <select class="form-control" formControlName="id">
            <option *ngFor="let usuario of usuarios" [value]="usuario.id" > {{ usuario.name }} </option>
        </select>

        <button class="btn btn-primary">Agregar</button>
    </div>
</div>
